@use "../../assets/sass/variables" as *;

.card__container {
  background-color: $container-color;
  padding: 6rem 6rem;
  margin: 4rem;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
